body {
    margin: 0px;
    background-color: #D0EAFF;
}
.titulo_noticia {
    font-family: cursive;
    text-align: center;
    font-size: 40px;
    color: rgb(255, 0, 0);
}
.margem {
    background-color: aqua;
}
.contato {
    border-left: 100px;
}
