body {
    margin: 0;
    background-image: url(../images/backgroundForm.jpeg);
}
h1 {
    text-align: center;
}
#formularioLocal {
    border-radius: 20px;
    border: 2px solid #000000;
    margin: 50px 25%;
    padding: 1px 25px 30px;
    background-color: #d0d0da;
}
.inputText {
    display: inline-block;
    justify-content: center;
}